<html>

	<body>

		<main>

			<h1>Liste des recipes</h1>

            <!-- On définit la longueur totale du tableau / le nombre total de recipes -->
            {% set total = recipes|length %} 
            <!-- On définit le point de départ : si le nombre total de recipes est > 2 alors, le point de départ "start" commence à total - 2, sinon il commence à 0 (évite erreur Twig) -->
            {% set start = total > 2 ? total - 2 : 0 %}
            
            <!-- On créé une boucle en précisant une portée / range démarrant du point "start" et terminant au nombre "total" de recipes, soit la dernière recipe -->
            {% for i in range(start, total) %}
            <!-- On incorpore l'index dans la définition de recipe pour pouvoir cibler avec la boucle les 3 dernières recettes -->
                {% set recipe = recipes[i] %}

					<article>

						<h2>{{ recipe.title }}</h2>
                        <img src="{{ recipe.image }}" />
                        <ul>{% for ingredient in recipe.ingredients %} <li>{{ ingredient }}</li>{% endfor %}</ul>
						<p>{{ recipe.description }}</p>
						<p>{{ recipe.createdAt | date('d-m-Y')}}
                        <p>{{ recipe.category }}</p>		

					</article>
				
			{% endfor %}

		</main>

	</body>

</html>